@model MusicStoreMVC.Models.CDViewModel.CDViewModel

@{
    ViewData["Title"] = "_partialViewAlbums";
}


@if (Model.ListaCD.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo do Album</th>
                <th>Edição</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var artista in Model.ListaCD)
            {
                <tr>
                    <td>@artista.Titulo</td>
                    <td>
                        <a class="btn btn-secondary" href="@Url.Action("Edit", "CD", new{id = artista.Id})">Editar CD</a>
                    </td>
                </tr>
                
            }

        </tbody>
    </table>
}
else
{
    <div>
        <h3>Nenhum Registro localizado</h3>
    </div>
}







