@model MusicStoreMVC.Models.CDViewModel.CDEditModel

@{
    ViewData["Title"] = "Music Store - Adicionar Novo CD";
}

<div class="text-center">
    <h1 class="display-4">Adicionar um Novo CD</h1>

    <partial name="_partialViewEditarCD" model="Model"></partial>

</div>
